{% extends "main/base.html" %}

{% block title %}Главная{% endblock title %}

{% block content %}
    <h1 class="text-center">Добро пожаловать на сайт о животных!</h1>
    <p class="text-center">Это ваша стартовая страница.</p>
    <div class="row">
        <div class="col">
            <h2>Типы Животных</h2>
            <!-- Список типов животных -->
        </div>
        <div class="col">
            <h2>Породы</h2>
            <!-- Список пород -->
        </div>
        <div class="col">
            <h2>Животные</h2>
            <!-- Список животных -->
        </div>
        <div class="col">
            <h2>Взвешивания</h2>
            <!-- Список взвешиваний -->
        </div>
    </div>
{% endblock content %}
